.body{
background-color: rgb(223, 250, 250);
display: flex;
flex-direction: column;
padding: 20px;
justify-content: space-evenly;

}
.mb-3{

    padding: 20px;
}
.button{
    height: 150px;
    width: 150px;
    background-color: black;
}.footer {
    background-color: gainsboro;

}
.list-group-flush {
    border: none;
}
.list-group-item1{
    border: none;
    padding: 2%;
}
.list-group-item-final{
    display: flex;
    justify-content: end;

}